__pycache__/
*.pyc
.venv/
venv/
env/
db.sqlite3
*.sqlite3
.idea/
.vscode/
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
staticfiles/
media/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Windows user folders - DO NOT TRACK
-1.14-windows.xml
.android/
.cache/
.codex/
.gitconfig
.local/
AppData/
Contacts/
CrossDevice/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
YandexDisk/
PrintHood/
Recent/
SendTo/
Start Menu/
